<%- include('../../partials/frontend/header') %>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
	<div class="mt-44 sm:mx-auto sm:w-full sm:max-w-sm">
		<p class="border-l-4 p-4 mb-10" id="alert-pane"></p>
		<form class="space-y-6" action="#" method="POST" id="signup-form">
			<div>
				<label for="name" class="block text-sm font-medium leading-6 text-gray-900">Full Name</label>
				<div class="mt-2">
					<input id="name" name="name" type="text" autocomplete="name" required class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
				</div>
			</div>

			<div>
				<label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
				<div class="mt-2">
					<input id="email" name="email" type="email" autocomplete="email" required class="block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
				</div>
			</div>

			<div>
				<label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
				<div class="mt-2">
					<input id="password" name="password" type="password" autocomplete="password" required class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
				</div>
			</div>
			<div>
				<label for="confirm_password" class="block text-sm font-medium leading-6 text-gray-900">Confirm Password</label>
				<div class="mt-2">
					<input id="confirm_password" name="confirm_password" type="password" autocomplete="current-password" required class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
				</div>
			</div>

			<div>
				<button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create my account</button>
			</div>
		</form>

		<p class="mt-10 text-center text-sm text-gray-500">
			Already have an account?
			<a href="/auth/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sign in</a>
		</p>
	</div>
</div>
<script type="text/javascript">
	$("#alert-pane").hide();
	$(document).ready(function () {});

	$(document).on("submit", "#signup-form", function (e) {
		let errors = "";
		e.preventDefault();
		const data = {};
		$.each($(this).serializeArray(), (idx, field) => {
			const { name, value } = field;
			data[name] = value;
		});

		$.ajax({
			url: "/auth/signup",
			method: "POST",
			data: JSON.stringify(data),
			headers: {
				Accept: "application/json; charset=utf-8",
				"Content-Type": "application/json; charset=utf-8",
			},
			success: function (data) {
				const { success, message } = data;
				console.log(data);
				if (!success) {
					throw error(message);
				}
				$("#alert-pane").removeClass("bg-orange-100  border-orange-500 text-orange-700").addClass("bg-green-100  border-green-500 text-green-700").html(message).show();
				$("#signup-form").trigger("reset");
				setTimeout(function () {
					$("#alert-pane").fadeOut();
					redirect("/auth/login");
				}, 3000);
			},
			error: function (data, status, error) {
				const { success, message } = data.responseJSON;

				$("#alert-pane").removeClass("bg-green-100  border-green-500 text-green-700").addClass("bg-orange-100  border-orange-500 text-orange-700").html(message).show();

				setTimeout(function () {
					$("#alert-pane").fadeOut();
				}, 5000);
			},
		});
	});
</script>
<%- include('../../partials/frontend/footer') %>
