<%- include('../frontend/header') -%>

<section class="bg-white pt-44">
	<div class="items-center max-w-screen-xl px-4 py-8 mx-auto">
		<div class="grid md:grid-cols-4 gap-10 sm:grid-cols-2 items-center justify-start z-0">
			<div><%- include('./user-sidebar') %></div>
			<div class="col-span-3">