<!-- Error Container -->
<%- include('../partials/frontend/header') -%>
<section class="bg-white">
    
        <div class="flex flex-col items-center py-44">
            <div class="font-bold text-indigo-500 text-7xl">
                404
            </div>
        
            <div class="mt-10 text-3xl font-bold xl:text-7xl lg:text-6xl md:text-5xl">
                This page does not exist
            </div>
        
            <div class="mt-8 text-sm font-medium text-gray-400 md:text-xl lg:text-2xl">
                The page you are looking for could not be found.
            </div>
        </div>
        
    

</section>


<%- include('../partials/frontend/footer') -%>