@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input {
	@apply px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

.form-select {
	@apply px-2 block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

.form-label {
	@apply block text-sm font-medium leading-6 text-gray-900;
}

.success-badge {
	@apply px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full;
}

.danger-badge {
	@apply px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full;
}

.btn {
	@apply inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white;
}

.primary-btn {
	@apply inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300;
}
